In [13]:
## Standard Imports
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [2]:
df = pd.read_csv('2020_2022_cold_symptoms.csv')
df.head()

,1280615718,2019-06-30 23:45:48+00:00,"Seattle, WA","[-122.436232, 47.4953154, -122.2249728, 47.734319]",1.14547857538816E+018,"I tried putting it off but Iâ€™m gonna have to take some painkillers. Iâ€™d finally detoxed from them because they were giving me massive migraines , but at this point Iâ€™d rather have a splitting headache than my body in spasms."
0,3.807060e+08,2019-06-30 23:44:11+00:00,"McAllen, TX","[-98.2958236, 26.143437, -98.195525, 26.337943]",1.145478e+18,I hope someone ices me when I walk out of the ...
1,3.169978e+08,2019-06-30 23:40:29+00:00,"Council Bluffs, IA","[-95.9235509, 41.194487, -95.746366, 41.300487]",1.145477e+18,"I like my steak rare, my woman bare, with some..."
2,2.827821e+08,2019-06-30 23:38:40+00:00,"Hope Mills, NC","[-79.033596, 34.894886, -78.834267, 35.009696]",1.145477e+18,@QuickClock23 @SmallcageGG @EBischoff @WWE Wel...
3,1.452974e+07,2019-06-30 23:32:54+00:00,"San Diego, CA","[-117.282538, 32.53962, -116.9274403, 33.0804044]",1.145475e+18,Also I cannot remember a more insane free agen...
4,8.469084e+17,2019-06-30 23:32:27+00:00,"Beverly Hills, CA","[-118.4273439, 34.052559, -118.371934, 34.112434]",1.145475e+18,"@ZeeuwsGamertje That was from Friday, I did tw..."

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54345 entries, 0 to 54344
Data columns (total 6 columns):
 #   Column                                                                                                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                  --------------  -----
 0   1280615718                                                                                                                                                                                                                              54345 non-null  float64
 1   2019-06-30 23:45:48+00:00                                                                                                                                                                                                               54345 non-null  object
 2   Seattle, WA                                                                                                                                                                                                                             54345 non-null  object
 3   [-122.436232, 47.4953154, -122.2249728, 47.734319]                                                                                                                                                                                      54345 non-null  object
 4   1.14547857538816E+018                                                                                                                                                                                                                   54345 non-null  float64
 5   I tried putting it off but Iâ€™m gonna have to take some painkillers. Iâ€™d finally detoxed from them because they were giving me massive migraines , but at this point Iâ€™d rather have a splitting headache than my body in spasms.  54345 non-null  object
dtypes: float64(2), object(4)
memory usage: 2.5+ MB

In [4]:
#df = df.reset_index().rename(columns={'index': 'Header'})

In [7]:
#df.index = ['User_ID', 'Time', 'Location', 'Coordinates', 'Tweet_ID', 'Tweet']
#print(df)

In [9]:
df.set_axis(["Number", "User_ID", "Time", "Location", "Coordinates", "Tweet_ID", "Tweet"],
                    axis=1,inplace=True)
print(df)

       Number       User_ID                       Time            Location  \
0           0  3.807060e+08  2019-06-30 23:44:11+00:00         McAllen, TX
1           1  3.169978e+08  2019-06-30 23:40:29+00:00  Council Bluffs, IA
2           2  2.827821e+08  2019-06-30 23:38:40+00:00      Hope Mills, NC
3           3  1.452974e+07  2019-06-30 23:32:54+00:00       San Diego, CA
4           4  8.469084e+17  2019-06-30 23:32:27+00:00   Beverly Hills, CA
...       ...           ...                        ...                 ...
54340   54340  2.797037e+09  2022-12-01 06:02:11+00:00         Houston, TX
54341   54341  1.088279e+08  2022-12-01 05:59:31+00:00          Upland, CA
54342   54342  3.575280e+07  2022-12-01 05:59:24+00:00     Los Angeles, CA
54343   54343  1.039221e+18  2022-12-01 05:59:15+00:00    Palm Springs, CA
54344   54344  2.986989e+08  2022-12-01 05:53:01+00:00         Chicago, IL

                                             Coordinates      Tweet_ID  \
0        [-98.2958236, 26.143437, -98.195525, 26.337943]  1.145478e+18
1        [-95.9235509, 41.194487, -95.746366, 41.300487]  1.145477e+18
2         [-79.033596, 34.894886, -78.834267, 35.009696]  1.145477e+18
3      [-117.282538, 32.53962, -116.9274403, 33.0804044]  1.145475e+18
4      [-118.4273439, 34.052559, -118.371934, 34.112434]  1.145475e+18
...                                                  ...           ...
54340    [-95.823268, 29.522325, -95.069705, 30.1546646]  1.598196e+18
54341   [-117.704483, 34.086988, -117.619223, 34.152304]  1.598195e+18
54342   [-118.668404, 33.704538, -118.155409, 34.337041]  1.598195e+18
54343  [-116.5677878, 33.7794258, -116.466791, 33.870...  1.598195e+18
54344    [-87.940033, 41.644102, -87.523993, 42.0230669]  1.598193e+18

                                                   Tweet
0      I hope someone ices me when I walk out of the ...
1      I like my steak rare, my woman bare, with some...
2      @QuickClock23 @SmallcageGG @EBischoff @WWE Wel...
3      Also I cannot remember a more insane free agen...
4      @ZeeuwsGamertje That was from Friday, I did tw...
...                                                  ...
54340  Man. This cold glass of water was everything i...
54341  @Camacho0220 Hopefully she sleeps thru the nig...
54342  @tfoiles i think everyone look at ai for two s...
54343  Hi, Twitter Fans I have a nasty cough who both...
54344  ðŸ˜­ thatâ€™s still some shit &amp; that fight...

[54345 rows x 7 columns]

In [12]:
df.head(5)

,Number,User_ID,Time,Location,Coordinates,Tweet_ID,Tweet
0,0,3.807060e+08,2019-06-30 23:44:11+00:00,"McAllen, TX","[-98.2958236, 26.143437, -98.195525, 26.337943]",1.145478e+18,I hope someone ices me when I walk out of the ...
1,1,3.169978e+08,2019-06-30 23:40:29+00:00,"Council Bluffs, IA","[-95.9235509, 41.194487, -95.746366, 41.300487]",1.145477e+18,"I like my steak rare, my woman bare, with some..."
2,2,2.827821e+08,2019-06-30 23:38:40+00:00,"Hope Mills, NC","[-79.033596, 34.894886, -78.834267, 35.009696]",1.145477e+18,@QuickClock23 @SmallcageGG @EBischoff @WWE Wel...
3,3,1.452974e+07,2019-06-30 23:32:54+00:00,"San Diego, CA","[-117.282538, 32.53962, -116.9274403, 33.0804044]",1.145475e+18,Also I cannot remember a more insane free agen...
4,4,8.469084e+17,2019-06-30 23:32:27+00:00,"Beverly Hills, CA","[-118.4273439, 34.052559, -118.371934, 34.112434]",1.145475e+18,"@ZeeuwsGamertje That was from Friday, I did tw..."

In [21]:
tweets = df['Tweet']
print(tweets)

0        I hope someone ices me when I walk out of the ...
1        I like my steak rare, my woman bare, with some...
2        @QuickClock23 @SmallcageGG @EBischoff @WWE Wel...
3        Also I cannot remember a more insane free agen...
4        @ZeeuwsGamertje That was from Friday, I did tw...
                               ...
54340    Man. This cold glass of water was everything i...
54341    @Camacho0220 Hopefully she sleeps thru the nig...
54342    @tfoiles i think everyone look at ai for two s...
54343    Hi, Twitter Fans I have a nasty cough who both...
54344    ðŸ˜­ thatâ€™s still some shit &amp; that fight...
Name: Tweet, Length: 54345, dtype: object